.parent-card {
  border-radius: 12px;
  width: 175px;
  height: 225px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  flex: 0 0 auto;
  margin-right: 16px;
  cursor: pointer;
}

.parent-card img {
  border-radius: 12px;
  width: 100%;
  height: 120px;
  object-fit: cover;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}

.detail-section {
  padding: 10px;
}

.jarak-product {
  font-size: 12px;
}

.tittle-product {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}

.parent-rating {
  display: flex;
  align-items: center;
}

.parent-rating img {
  width: 16px;
  height: 16px;
}

.parent-rating p {
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}
