.container {
  width: -webkit-fill-available;
  max-width: 450px;
  padding: 0px;
  min-height: 100vh;
  background: #fff;
}

.title-page {
  margin-top: 24px;
  margin-left: 16px;
  font-weight: bold;
}

.parent-product {
  padding: 24px 0px;
}

.head-product {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
}

.tittle-section {
  display: block;
  width: auto;
}

.button-semua {
  cursor: pointer;
  padding: 5px 10px;
  height: fit-content;
  border-radius: 50px;
  background-color: #ffbca6;
  color: #8b0c3c;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.wrapper-product {
  display: flex;
  overflow-x: auto;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 10px;
}

.space-product {
  width: 1px;
  height: 1px;
  flex: 0 0 auto;
}

.section-botnav {
  display: flex !important;
  justify-content: center;
  width: 100%;
}
